extends layout.pug

block content
  main.create-task
    h2.form-title Add a new task
      hr
    
    if success
      p.success New Task was added successfully

    if error
      p.error Please add task (title & body) before submitting

    form(method="POST")
      label.label Title
      input(class="task-input" name="title")
      
      label.label Body
      textarea(class="task-input" name="body" rows="10")
      button.create-task-btn Add a new task