extends layout.pug

block content
  main.intro
    p This is ToDo application
    p You can add tasks, delete and archive them
    p Supports markdown
    a(href="tasks/create-task" class="create-task-btn") Add task 